[Unit]
Description=Titan-Core v4.5 Sentinel-Elite
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/Titan-project
ExecStart=/home/ubuntu/Titan-project/venv/bin/python3 /home/ubuntu/Titan-project/trading_daemon.py

Restart=always
RestartSec=30

# INJECTION DES SECRETS (À remplir sur le serveur)
Environment="ALPACA_API_KEY=votre_cle"
Environment="ALPACA_SECRET_KEY=votre_secret"
Environment="FMP_API_KEY=votre_cle_fmp"
Environment="OPENROUTER_API_KEY=votre_cle_ai"
Environment="ENV_MODE=PAPER"
Environment="LIVE_AFFIRMATION=False"
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
